.container {
  max-width: 700px;
  margin: 0 auto;
  margin-top: 40px;
}
.flexWrapper {
  display: flex;
  margin-bottom: 25px;
  flex-direction: column;
}
input[type='submit'] {
  background-color: blue;
  color: white;
  font-size: 15px;
  font-weight: bold;
  padding: 10px 20px;
  outline: none;
}
input[type="tel"], input[type="text"]{
  width: 100%;
  min-height: 30px;
}
.errors{
  color: red;
}